.home{
    background-image: url('../src/public/img/image-home.png');
    background-repeat: no-repeat;
    background-position: 60% 40%;
    background-attachment: fixed;
    background-color: #1E1127;;
}
.homepage{
    background-color: #FFFDF6;;
}